* {
    margin: 0;
    padding: 0
}

body {
    background-color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.circle1 {
    position: absolute;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    background: linear-gradient(-25deg, #d84869, #f46641);
    top: 5%;
    left: 30%;
    box-shadow: 0 0 50px #d84869;
    animation: circle1Animation 15s infinite;
}

@keyframes circle1Animation {
    50% {
        left: 33%;
        top: 5%;
        scale: 1.11;
    }
}

.circle2 {
    position: absolute;
    border-radius: 50%;
    height: 19rem;
    width: 19rem;
    bottom: 5%;
    right: 30%;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    box-shadow: 0 0 50px #5648d8;
    animation: circle2Animataion 15s infinite;
}

@keyframes circle2Animataion {
    50% {
        right: 33%;
        bottom: 5%;
        scale: 1.11;
    }
}

.wrapper {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
    /* width:500px; */
    border: #ffffff1a;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(15px)
}

.card-wrapper div:nth-child(1) {
    border: 2px solid #ffffff30;
    height: 150;
    width: 150px;
    border-radius: 50%;
    box-sizing: border-box;
}

.user-name h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.designation h4 {
    color: #ffffff85;
    text-align: center;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-card {
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    background-color: #ffffff00;
    color: #ffffffb9;
    cursor: pointer;
    padding: 9px 12px;
    text-transform: capitalize;
    transition: all 0.5s;
}

.btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.btn-follow a {
    width: 150px;
}

.btn-follow a {
    text-decoration: none;
    color: #ffffffb9;
}

.btn-follow {
    text-decoration: none;
    /* color: #ffffffb9; */
}

.btn-follow:hover {
    background:#ffffffb9;
    color: #131313;
}

.btn-follow a:hover{
    color:#131313;
}

.btn-share:hover {
    background: #ffffffb9;
    color: #131313;
}

.modal {
    color: white;
    position: fixed;
    top: 50%;
    margin-left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    backdrop-filter: blue(10px);
    z-index: 1;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
}

.modal-header i {

    font-size: 30px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 17px;
    margin: 10px 10px;
    gap: 10px;
    border-radius: 50%;
    transition: all 0.5s;
    text-decoration: none;
}

.icon i {
    font-size: 27px;
}

#facebook {
    color: #1771e6;
    border: 1px solid #1771e6;
}

#facebook:hover {
    background-color: #1771e6;
    color: #fff;
}

#whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
}

#whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
}

#telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
}

#telegram:hover {
    background-color: #0081c2;
    color: #fff;
}

#instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
}

#instagram:hover {
    background-color: #cb2770;
    color: #fff;
}



.active {
    scale: 1;
}

.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.overlayActive {
    opacity: 1;
    pointer-events: initial;
}